@use "variables" as *;
.cart-section {
  font-family: 'Montserrat', sans-serif;
  color: füme;
}

.cart-section .kartTitle {
  font-family: $baslık;
  color: $füme;
}

.cart-item {
  background-color:#fff;
}

.cart-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.cart-title {
  font-size: 1rem;
  font-weight: 600;
}

.quantity-controls input {
  width: 50px;
  text-align: center;
  border-radius: 5px;
}

.cart-actions .cart-price {
  font-size: 1.25rem;
  color: $füme;
}

.remove-item {
  border-radius: 50px;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.cart-summary {
  font-family: $metin;
}

.cart-summary .summary-item span {
  font-size: 0.95rem;
}

.checkout-btn {
  border-radius: 50px;
  background-color: $füme !important;
  color:$yulaf !important;
  text-transform: uppercase;
  font-weight: 600;
  border: none !important;
  transition: all 0.3s ease;
}

.checkout-btn:hover {
 background-color:$turuncu !important;
}

.nav-link.active {
  color: #ff7f11 !important;
  font-weight: 600;
}